$mainColor: #15023a;
$textMedium: 16px;
$textSmall: 14px;
$textTiny: 12px;
$textLhMedium: 24px;
$textLhSmall: 20px;
$textLhTiny: 18px;

$width: 1000px;

@mixin banner {
    @media (max-width: 1000px) {
        @content
    }
}